<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteLogin1.master.cs" Inherits="VeterinarySmiles_Web.SiteLogin1" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>


        <!-- Font Awesome Icons -->
<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/adminlte.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- IonIcons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <style>

        .fondo{
            background-color:#657ea4;
        }

    </style>


</head>
<body class="hold-transition login-page" style="background-color:#597197">
   




            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">


               


            </asp:ContentPlaceHolder>
      
</body>
</html>
